@import '../../node_modules/normalize.css/';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
@import './components/colors.scss';

html {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

*, *:after, *:before{
    box-sizing: border-box;
}

main {
    padding: 0 1rem;
    max-width: 82rem;
}

body {
    background-color: $background;
    color: white;

}

header{
    max-width: 82rem;
    margin: 0 auto;
    padding: 24px 0;
}

section{
    max-width: 82rem;
    margin: 0 auto;
    margin-bottom: 80px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0;
}

.navigation {
    display: none;
}

.contain-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.name{
    font-size: 1.25rem;
    font-weight: 700;
    color: $special;
    line-height: 1.375rem;

}

.position{
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    opacity: 0.4;
    letter-spacing: 0.05rem;
}
.image{
    width: 100%;
    margin-bottom: 1.25rem;
}

.image-extra-margin{
    margin-bottom: 1.5rem;
}

.main__header{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem; /* 133.333% */
    letter-spacing: -0.02rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section__paragraph{
    font-size: 1rem;/* 133.333% */
    color: $grey;
    margin-bottom: 2rem;
    font-weight: normal;
}

.section__paragraph--special{
    color: white;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03rem;
    margin-bottom: 2.5rem;
}

.special-color{
    color: $special;
}

.section__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: $special;
    color: $background;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    line-height: 2rem;
}
.section__link--special{
    background-color: $background;
    color: $special;
    border: 0.125rem solid #1F2937;

}

.section__button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.section__header{
    color: $grey;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 90% */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: -0.018rem;
    padding: 0;
}

ul li{
    padding-bottom: 8px;
}


.article-container {
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.1rem solid #020916;
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.04) 100.02%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
}

.article__image{
    margin-bottom:2.5rem
}

.article__header{
    border-top: 0.2rem solid $special;
    margin:0;
    padding: 0.75rem 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 133.333% */
    letter-spacing: -0.03rem;
}

.container__skills{
    display: grid;
    gap: 1rem;
}

.container__skills-extragap{
    gap: 3.75rem;
}

.extra-margin {
    margin-bottom: 7.5rem;
}

.article-window{
    padding: 0;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    border: 1px solid #020916;
    backdrop-filter: blur(5px);
}

.div-container{
    height: 2.75rem;
    border-bottom: 1px solid #020916;
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.04) 100.02%);
    padding: 1rem;
    display: flex;
    gap: 0.375rem;
}

.circle{
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    opacity: 0.5;
    background-color: $background;
    display: block;

}

.padding{
    padding: 1.25rem;
}

.header-card{
    margin:0;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.flex-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.paragraph-with-flex{
    display: flex;
    gap: 0.125rem;
    padding: 0.25rem 0.5rem;
    background: rgba(156, 163, 175, 0.10);
    align-items: center;
    color: $grey;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 0.25rem;
}

.small-padding{
    padding: 0 0 1rem 0;
}

.paragraph-card{
    color: $grey;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.card-technology{
    display: flex;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

.card-technology-element{
    color: white;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    padding: 0.25rem 0.5rem;
    background: rgba(156, 163, 175, 0.10);
    border-radius: 0.25rem;
}

.special-size{
    width: 1.5rem;
    height: 1.5rem;
}

.section__small{
    font-size: 1rem;

}

.header-after-hours{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.03rem;
    margin: 0 0 0.25rem 0;
}

.paragraph-after-hours{
    color: $grey;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}